# Java
**/target/
**.class
*.jar
*.war
*.ear

# Node / Vue
**/node_modules/
**/dist/

# Python
**/__pycache__/
**/.venv/

# IDEs y SO
.vscode/
.idea/
.DS_Store
*.swp
*.swo
undo/
.netrwhist
.DS_Store
Thumbs.db

# Lombok / Annotation Processing
.factorypath

# Secrets
.env
core-api/src/main/resources/application-dev.properties
core-api/src/main/resources/application-dev.yml

# Infra
infra/pgadmin/servers.json
*.log
